/* .wrapper{
    width: auto;
    
    
}

.nav-area{
    margin: -30px auto;
    width: 950px;
}

.menu li{
    list-style: none;
    display: block;
    float: left;
    margin: 6px;
}

.menu li a{
    display: block;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px 15px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover{
    background: #333;
}

.menu-bg{
    background: goldenrod;
    margin: 3em 0;
    z-index: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    position: relative;
    height: 50px;
}

.angle1{
    border-color: goldenrod transparent transparent;
    left: -50px;
    top: 1px;
    float: left;
    position: relative;
    width: 0;
    height: 0;
    border-width: 50px;
    border-style: solid;
}

.angle2{
    border-color: transparent transparent goldenrod;
    left: -150px;
    top: -46px;
    float: left;
    position: relative;
    width: 0;
    height: 0;
    border-width: 50px;
    border-style: solid;
}

.angle3{
    border-color: goldenrod transparent transparent;
    right: -49px;
    top: -98px;
    float: right;
    position: relative;
    width: 0;
    height: 0;
    border-width: 50px;
    border-style: solid;
}

.angle4{
    border-color: transparent transparent goldenrod;
    right: -145px;
    top: -144px;
    float: right;
    position: relative;
    width: 0;
    height: 0;
    border-width: 50px;
    border-style: solid;
} */

.menu{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
}

.menu:hover{
    background: #333;
    color: white;
}


.about{
    font-family: 'Dancing Script', cursive;
    color: goldenrod;
}

.name{
    font-family: 'Abril Fatface', cursive;
    color: black;
}

.aboutInfo{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    text-align: justify;
}

.img-container { 
    background-color: #000000; 
}
.img-container img { 
    opacity: 0.5; 
}


h1{
    display: inline;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.b1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.b2:hover{
    background: rgba(253, 253, 253, 0);
    color: yellow;
    border: 2px solid yellow;
}

button{
    border-radius: 12px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
  }

  .overlayE:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .services{
      background-color: #dcdcdc;
  }

  .services1{
    color: darkgoldenrod;
  }

  .services2{
      border: 2px solid darkgoldenrod;
      padding: 25px;
  }

  .services2:hover{
      cursor: pointer;
      border: 5px solid darkgoldenrod;
  }

  .services3{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 25px;
      color: darkgoldenrod;
  }

  #parallax {
    background-image: url("./images/reservation.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax1{
    border: 2px solid darkgoldenrod; 
  }

  .parallax1:hover{
      cursor: pointer;
      border: 5px solid darkgoldenrod;
  }

  .parallax2{
      font-family:'Abril Fatface', cursive; 
      color: white;
      font-size: 30px;
  }

  #reservation.section {
	padding-bottom:0px;
}

.bgImage{
    background-image: url("./images/background03.jpg");
    min-height: 400px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name, #phone, #address, #email {
    background-color:rgba(21, 21, 21, 0.9);
    color: white;
  }

.reserve-form {
    background: rgba(21, 21, 21, 0.9);
    position: absolute;
    top: 180px;
}

.reservation1{
    margin-top: 180px;
}

.sTitle{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.title{
    color: red;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: bold;
}

.reservation2{
    margin-top: 0px;
}

.reservation3{
    margin-top: 0px;
}

.reservation4{
    margin-top: 0px;
    margin-right: 50px;
    margin-left: 200px;
}

label {
	color: #FFF;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.book{
    background-color: #f36500;
}


.opening-time {
	padding: 40px 8% 40px;
	background: #151515;
	margin-top: 0px;
}

.opening-time ul li .day {
	display:inline-block;
	font-weight:400;
    color:#fff;
    font-family: 'Times New Roman', Times, serif;
}

.opening-time ul li .hours {
	float: right;
	font-size: 14px;
	margin-top: 12px;
	font-weight:400;
    color:#f36500;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
}

.lines{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: goldenrod;
}

.testi{
    margin-top: 100px;
    font-family: 'Dancing Script', cursive;
    color: goldenrod;
    font-size: 20px;
}

.sharing{
    background-image: url("./images/bottom.jpg");
    min-height: 400px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sharing1{
    color: goldenrod;
    font-size: 70px;
    text-align: center;
    font-family: cursive;
}

.sharing3{
    color: wheat;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

.contact p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.footer{
    background-color: #696969}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
}
.btn-facebook:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

.btn-google {
    background: #DD4B39;
    color: white;
}

.btn-google:hover{
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
}

.btn-linkedin:hover{
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

.btn-twitter {
    background: #00ACEE;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #0075a2;
}

.btn-twitter:hover{
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}

.e{
    background-color: white;
}
